/* reseteo */
* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

/* icono mas barra de navegacion */
.header {
    min-height: 18vh;
    display: flex;
    justify-content: space-between;
    /* gradiente lineal */
    background-image: linear-gradient(to right, #3cba92, #fee140);
    align-items: center;
    flex-wrap: wrap;

}

.header img {
    width: 190px;
}

.nav ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    color: black;
    width: 75vw;
    font-size: 22px;
    font-weight: bold;

}

/* diseño footer */

.footer {
    min-height: 15vh;
    padding: 15px;
    display: grid;
    /* gradiente lineal */
    background-image: linear-gradient(to left, #3cba92, #fee140);
    grid-template-areas:
        "direccion telefono mail instagram"
        ". . . ."
        ". . . ."
        ". . . .";

}

.direccion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.direccion img {
    width: 30px;
}

.telefono {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.telefono img {
    width: 30px;
}

.mail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.mail img {
    width: 30px;
}

.instagram {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.instagram img {
    width: 30px;
}

/* cuerpo del index main */

.inicio {
    display: grid;
    grid-template-areas:
        "imagen titulo"
        "imagen subtitulo"
        "imagen historia";
    justify-items: center;
    background-color: rgb(227, 245, 195);
}

.titulo {
    grid-area: titulo;
    padding: 5px;
    font-size: 36px;
}

.subtitulo {
    grid-area: subtitulo;
    font-size: 28px;
}

.imagen {
    grid-area: imagen;
}

.historia {
    grid-area: historia;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.imagen img {
    height: 59vh;
}

.historia p {
    padding: 20px;

}

/* diseño de main de alquiler */

.alquiler {
    display: grid;
    grid-template-areas:
        "alquiler-titulo alquiler-titulo"
        "alquiler-subtitulo alquiler-subtitulo"
        "slide texto";
}

.alquiler-titulo {
    grid-area: alquiler-titulo;
}

.alquiler-subtitulo {
    grid-area: alquiler-subtitulo;
}

.slide {
    grid-area: slide;
}

.texto {
    grid-area: texto;
}

/* diseño para ventas y terrenos */

.generico {
    background-color: #f8f8f8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 5px;
}

.fila {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.fila img {
    height: 42vh;
    padding: 5px;
}

.terreno img {
    height: 42vh;
    padding: 5px;
    /* animacion de la imagen */

    animation-duration: 3s;
    animation-name: slidein;

}

@keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }

.formulario{
    background-color: #f8f8f8;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.gonzalo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}



