/* reseteo */
* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

/* icono mas barra de navegacion */
.header {
    min-height: 18vh;
    display: flex;
    justify-content: space-between;
    background-color: rgb(120, 169, 120);
    align-items: center;
    flex-wrap: wrap;

}

.header img {
    width: 290px;
}

.nav ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    color: black;
    width: 75vw;
    font-size: 22px;
    font-weight: bold;

}

/* diseño footer */

.footer {
    min-height: 10vh;
    display: grid;
    background-color:  rgb(120, 169, 120);
    grid-template-areas:
        "direccion telefono mail instagram"
        ". . . ."
        ". . . ."
        ". . . .";
}

.direccion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.direccion img {
    width: 30px;
}

.telefono {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.telefono img {
    width: 30px;
}

.mail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.mail img {
    width: 30px;
}

.instagram {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.instagram img {
    width: 30px;
}


/*  
main {
    height: 60vh;
}

h1 {
    color: white;
    background-color: green;
    font-size: 36px;
    font-weight: normal;
       text-align: center;
}

h2 {
    color: white;
    background-color: green;
    font-size: 25px;
    
    text-align: center;
}

h3 {
    color: white;
    background-color: green;
    font-size: 22px;
    
    text-align: center;
}

h4 {
    color: white;
    background-color: green;
    font-size: 22px;
    
    text-align: center;
}

p {
    color: white;
    background-color: green;
    font-size: 18px;
    
    text-align: justify;
}

ul {
    color: black;
    background-color: orange;
    font-size: 18px;
    
}

.lista-alquileres {
    color: white;
    background-color: green;
    font-size: 18px;
}
  */