/* reseteo */
* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

/* icono mas barra de navegacion */
.header {
    min-height: 18vh;
    display: flex;
    justify-content: space-between;
    background-color: rgb(120, 169, 120);
    align-items: center;
    flex-wrap: wrap;
    
}

.header img{
    width: 200px;
}

.nav ul{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    color: black;
    width: 75vw;
    font-size: 22px;
    font-weight: bold;
   
}

/*  
main {
    height: 60vh;
}

h1 {
    color: white;
    background-color: green;
    font-size: 36px;
    font-weight: normal;
       text-align: center;
}

h2 {
    color: white;
    background-color: green;
    font-size: 25px;
    
    text-align: center;
}

h3 {
    color: white;
    background-color: green;
    font-size: 22px;
    
    text-align: center;
}

h4 {
    color: white;
    background-color: green;
    font-size: 22px;
    
    text-align: center;
}

p {
    color: white;
    background-color: green;
    font-size: 18px;
    
    text-align: justify;
}

ul {
    color: black;
    background-color: orange;
    font-size: 18px;
    
}

/* dise{o footer */
    /*  
.footer {
    height: 15vh;
    color: black;
    background-color: orange;
    font-size: 18px;
    font-weight: lighter;
    
}

.lista-alquileres {
    color: white;
    background-color: green;
    font-size: 18px;
    